<link rel="stylesheet" href="/assets/css/profile.css">

<div class="profile-container">
    <div class="profile-image-section">
        <img src="{{profileImageUrl}}" alt="Profile Image of {{userName}}" class="profile-image">
    </div>
    <div class="profile-about-section">
        <h2>About Me!</h2>
        <div class="description-box">
            <p>{{userDescription}}</p>
        </div>
    </div>
    <div class="profile-creations-section">
        <h2>Creations</h2>
        {{#each creations}}
        <div class="creation-item">
            <a href="/game/{{this.id}}">{{this.title}}</a>
        </div>
        {{/each}}
    </div>
</div>
