<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/profile.css">


<div>
    <button class="editBtn">
        <a href="/profileEdit">Edit Profile</a>
    </button>
</div>
<div class="profileContainer">

    <div class="userContainer">
        <div class="profile-image-section">
            <h1>{{user.username}}</h1>
            <img src="{{user.profile_picture}}" alt="Profile Image of {{userName}}" class="profile-image rounded-circle img-fluid">
        </div>
        
        
        <div class="textContainer">
            <h2 >About Me!</h2>
            <div class="profile-about-section">
                <div class="description-box">
                    <p>{{user.about_me}}</p>
                </div>
            </div>
            <h2 class="">Creations</h2>
            <div class="profile-creations-section bg-custom mt-4 p-3 rounded">
                {{#each games}}
                <div class="creation-item">
                    <a href="/game/{{this.id}}" class="text-white">{{this.title}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>