<!-- Link to the edit profile-specific CSS -->
<link rel="stylesheet" href="/assets/css/profileEdit.css">

<form class="profile-container" action="/api/profile/update/{{userId}}" method="POST" enctype="multipart/form-data">
    <div class="left-column">
        <div class="profile-image-container">
            <img src="{{profileImageUrl}}" alt="Profile Image of {{userName}}" class="profile-image">
            <input type="file" name="profileImage" accept="image/*">
        </div>
        <button type="submit">Save Changes</button>
    </div>
    <div class="center-column">
        <input type="text" name="userName" value="{{userName}}" class="name-input">
        <textarea name="userDescription">{{userDescription}}</textarea>
    </div>
    <div class="right-column">
        <h2>Creations</h2>
        {{#each creations}}
            <div class="creation-item">
                <input type="text" name="creationTitles" value="{{this.title}}">
            </div>
        {{/each}}
    </div>
</form>
